.footer {
  background-color: var(--dark);
  color: var(--light);
  transition: transform 0.4s ease-in-out;
  transform: translateY(100%);
  position: fixed;
  bottom: 0;
  height: 90px;
  width: 100%;
  z-index: 10;

  &.visible {
    transform: translateY(0px);
  }

  .footerContainer {
    min-height: fit-content;
    padding: var(--page-padding);
    padding-left: 68px;
    padding-right: 68px;
    padding-top: 16px;

    @include flex-column(var(--gap-lg));
    justify-content: space-between;
    align-items: center;
    text-align: center;

    p {
      max-width: 40ch;
    }

    @media (min-width: 767px) {
      @include effect-shadow-top;
      margin: 0 auto;
      flex-direction: row;
      text-align: start;
      width: 100%;
    }

    .footerHeader {
      display: flex;
      flex-direction: row;
      align-items: center;
      h4 {
        font-size: var(--fs-lg);
      }
    }

    .footerHeader,
    nav {
      @include flex(var(--gap-sm));
    }

    .footerText {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 8px;
      h4 {
        color: var(--accent);
        font-size: var(--fs-md);
      }
      p {
        color: var(--tertiary);
        font-size: var(--fs-sm);
      }
      :hover {
        h4 {
          color: var(--tertiary);
        }
        p {
          color: var(--accent);
        }
      }
    }

    .footerHeader,
    .footerMenu,
    nav {
      justify-content: space-between;
      align-items: center;
      gap: var(--gap-lg);

      & > a:hover,
      & > a:focus,
      & > a:active {
        color: var(--tertiary);
        font-weight: var(--fw-bold);
      }

      @media (min-width: 767px) {
        align-items: start;
      }
    }

    .footerMenu {
      @include flex-column(var(--gap-lg));

      @media (min-width: 767px) {
        flex-direction: row;
        column-gap: var(--gap-lg);
      }
    }
  }
}
