.main {
  @include main;
  @media (min-height: 767px) {
    overflow: visible; // Evita lo scroll
  }
  @include flex-column(var(--gap-sm));
  padding: var(--page-padding);

  .container {
    @include flex-column(var(--gap-lg));
    padding: 0;
    .recentTests {
      color: var(--white);
      padding-bottom: var(--gap-sm);
      font-weight: var(--fw-bold);
      background-color: var(--dark);
      border-radius: var(--border-radius);
      padding: 8px 16px;
      display: inline-block;
      margin-bottom: 12px;
      @media (min-width: 767px) {
        gap: 64px;
      }
      span {
        margin-left: 8px;
        color: var(--tertiary);
      }
    }
  }

  .header {
    @include header;
  }

  color: var(--light);

  .userInfo {
    @include flex(var(--gap-md));
    justify-content: flex-end;
    padding-bottom: var(--gap-sm);
    border-bottom: 1px solid var(--white);

    span {
      color: var(--white);
      font-weight: var(--fw-regular);
      font-size: var(--fs-sm);
    }

    .NameAndMail {
      @include flex-column(1px);
      align-items: flex-end;
      padding-bottom: var(--gap-sm);
    }
  }

  .headerButtons {
    @include flex(var(--gap-md));
    justify-content: center;
    button {
      font-weight: var(--fw-bold);
      display: flex;
      align-items: center;
      gap: var(--gap-sm);
      color: var(--white);

      background: var(--tertiary-gradient);

      @include effect-shadow;
      font-size: var(--fs-md);
      padding: 10px 18px;
      border-radius: var(--border-radius);
    }

    a:nth-child(2) button {
      background: var(--secondary-gradient);
    }
  }

  section {
    @media (min-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: space-around;
      margin-left: 36px;
    }
  }

  .cardsList {
    @include flex-column(var(--gap-md));
    align-items: center;

    @media (min-width: 767px) {
      flex-direction: row;
      column-gap: var(--page-padding);
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }

  .linkBtn {
    width: 100%;

    @media (min-width: 1025px) {
      width: unset;
    }

    button {
      @include button;
      width: 100%;
    }
  }
}
