.login {
  @include main;
  .loginContainer {
    min-height: 100dvh;
    @include flex-column(0px);
    justify-content: center;

    @media (min-width: 767px) {
      margin: 0 31px;
      max-width: 1000px;
      flex-direction: row;
      column-gap: var(--page-padding);
      justify-content: center;
      align-items: center;
    }
    .heroImg {
      background: var(--dark);
      margin-top: 0;
      border-radius: 50%;
      width: 46%;
      height: auto;
      align-self: end;
      border-left: 4px dashed var(--tertiary);
      margin-right: var(--elements-padding);

      @media (min-width: 767px) {
        margin-top: unset;

        width: 38%;
        align-self: unset;
        border-left: unset;
        border-right: 4px dashed var(--tertiary);

        transform: scaleX(-1);
      }
    }

    .main {
      @include flex-column(var(--gap-md));
      padding: 0 var(--page-padding) var(--page-padding);

      @media (min-width: 767px) {
        width: 460px;
        padding: -0px;
        align-items: start;

        @media (min-width: 767px) {
          button {
            align-self: stretch;
          }
        }
      }

      .header {
        @include flex-column(var(--gap-md));
        margin-bottom: var(--gap-md);
        align-items: flex-end;
        width: 100%;

        h1 {
          color: var(--accent);
          font-weight: var(--fw-bold);
          font-size: var(--fs-xl);
        }

        h2 {
          color: var(--white);
          font-weight: var(--fw-bold);

          span {
            margin-left: 6px;
            font-size: var(--fs-sm);
            color: var(--tertiary);
          }
        }
      }

      .register {
        text-align: center;
        color: var(--white);
        padding-top: 6px;

        @media (min-width: 767px) {
          align-self: center;
        }

        .registerLink {
          font-weight: var(--fw-bold);
          transition: all 0.35s ease;
          text-decoration: underline;

          &:active,
          &:focus,
          &:hover {
            color: var(--tertiary);
            text-decoration: none;
          }
        }
      }
    }
  }
}
