.login {
  .loginContainer {
    min-height: 100dvh;
    @include flex-column(var(--gap-md));
    justify-content: center;

    @media (min-width: 767px) {
      margin: 0 auto;
      max-width: 1000px;
      flex-direction: row;
      column-gap: var(--page-padding);
      justify-content: center;
      align-items: center;
    }

    .heroImg {
      margin-top: var(--elements-padding);
      width: 41%;
      height: auto;
      align-self: end;

      @media (min-width: 767px) {
        margin-top: unset;

        width: 30%;
        align-self: unset;

        border-right: 4px dashed var(--dark);
        transform: scaleX(-1);
      }
    }

    .main {
      @include flex-column(var(--gap-md));
      padding: 0 var(--page-padding) var(--page-padding);

      @media (min-width: 767px) {
        padding: 0;
        align-items: start;

        @media (min-width: 767px) {
          button {
            align-self: stretch;
          }
        }
      }

      .header {
        @include flex-column(var(--gap-md));
        margin-bottom: var(--gap-sm);

        h1 {
          color: var(--accent);
          font-weight: var(--fw-bold);
        }

        h2 {
          color: var(--white);
          font-weight: var(--fw-bold);

          span {
            margin-left: 9px;
            font-size: var(--fs-sm);
            color: var(--tertiary);
          }
        }
      }

      .register {
        text-align: center;
        color: var(--white);

        @media (min-width: 767px) {
          align-self: center;
        }

        .registerLink {
          font-weight: var(--fw-bold);
          transition: all 0.35s ease;

          &:active,
          &:focus,
          &:hover {
            color: var(--dark);
          }
        }
      }
    }
  }
}
