.main {
  @include main;
  @include flex-column(var(--gap-md));
  @include flex-center;

  @media (min-width: 767px) {
    justify-content: center;
  }

  .mainContent {
    @include form;
    padding: var(--page-padding);
    @include flex-center;
    background-color: var(--elements-bg);
    border-radius: var(--border-radius);
    width: 350px;
  }

  h1 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    color: var(--tertiary);
  }

  form {
    @include flex-column(20px);
  }

  p {
    color: var(--white);
    text-align: center;
    font-size: var(--fs-sm);
  }
}

.login {
  color: var(--light);
}

.login:hover {
  color: var(--tertiary);
}

.messageContainer {
  // @include base-element;
  padding: var(--elements-padding);
  border-radius: var(--border-radius);
  background-color: var(--dark);
}

.errorContainer {
  border: 2px solid var(--error); /* Bordo rosso */
}
