.main {
  @include main;

  @media (min-width: 767px) {
    justify-content: center;
  }

  label {
    font-size: var(--fs-md);
    padding-bottom: 9px;
    padding-left: 0px;
    line-height: 22px;
  }

  .container {
    @include flex-column(var(--gap-lg));

    @media (min-width: 767px) {
      justify-content: center;
      // align-items: center;
      min-height: 80dvh;

      & > div {
        width: 50%;
      }
    }

    .header {
      @include header;
      row-gap: var(--gap-md);
      h2 {
        margin-bottom: 0;
      }
      h3 {
        font-size: var(--fs-lg);
        color: var(--light);
        text-align: center;
      }
    }

    .progress {
      @include flex-column(var(--gap-sm));
      background-color: transparent;

      h3 {
        font-size: var(--fs-lg);
        text-align: right;
      }
      .highlightedText {
        background-color: var(--dark);
        color: var(--tertiary);
        display: inline-block;
        padding: 4px 14px; // Spazio attorno al testo per creare il box
        border-radius: var(--border-radius); // Bordo arrotondato per un aspetto più elegante

        span {
          color: var(--light);
        }
      }
    }

    & > div {
      @include flex-column(var(--gap-lg));
      flex-grow: 1;

      form {
        flex-grow: 1;
        @include form;
      }
    }

    mark.invalid {
      background: var(--tertiary);
      color: var(--white);
      font-weight: var(--fw-regular);
      padding: calc(var(--elements-padding) / 2) var(--elements-padding);
      width: fit-content;
      font-size: var(--fs-sm);
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      gap: var(--gap-md);
    }
  }
}
