.containerResultList {
  @include flex-column(var(--gap-md));
  padding: 0;
  @media (min-width: 767px) {
    // padding-top: 60px;
    padding-bottom: 62px;
    align-items: center;
  }
  @media (min-width: 1025px) {
    padding-top: 60px;
  }
}

.header {
  @include header;
  align-items: flex-end;
  align-items: center;

  h2 {
    color: var(--light);
    margin-bottom: var(--gap-sm);
    font-size: var(--fs-xl);
  }

  h3 {
    color: var(--tertiary);
    font-weight: var(--fw-bold);
    span {
      color: var(--light);
      font-size: var(--fs-md);
    }
  }

  p {
    font-size: var(--fs-md);
    text-align: left;
    // padding-bottom: 0;
  }
  @media (min-width: 767px) {
    padding-top: 0;
  }
  .avatarContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 140px;
    height: 140px;
    background-color: var(--accent);
    border-radius: 50%;
    border: 5px solid var(--tertiary);

    span {
      position: absolute;
      color: var(--white);
      font-weight: var(--fw-bold);
      bottom: -18px;
      background: var(--tertiary-gradient);
      padding: 4px 12px;
      border-radius: var(--border-radius);
    }

    @media (min-width: 767px) {
      margin: 0;
    }

    .avatarBox {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 160px;
      height: 160px;
      overflow: hidden;
      border-radius: 0 0 50% 50%;
    }
  }

  .feedbackSection {
    padding-top: var(--gap-lg);
    // text-align: center;
    color: var(--light);

    p {
      text-align: left;
    }

    @media (min-width: 767px) {
      text-align: start;

      p {
        max-width: 58ch;
      }
    }
    @media (min-width: 1024px) {
      text-align: start;

      p {
        text-align: start;
        width: 100%;
      }
    }

    h3 {
      margin-bottom: var(--gap-sm);
    }
  }
}

.resultsList {
  @include flex-column(var(--gap-md));
  @media (min-width: 767px) {
    width: 64%;
    margin: 0 auto;
  }
}
