.hero {
  background-color: var(--primary);
  color: var(--light);

  @media (min-width: 1025px) {
    padding-top: 0 !important;
  }

  .heroContainer {
    min-height: 100vh;

    @include flex-column(0);
    justify-content: center;

    @media (min-width: 767px) {
      padding-top: 80px;
      margin: 0 auto;
      max-width: 1300px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      // padding-top: calc(100px + var(--page-padding)) !important;
    }

    .heroContent {
      order: 1;
      padding: var(--page-padding);
      @include flex-column(var(--gap-md));
      align-items: flex-start;

      @media (min-width: 767px) {
        order: 0;

        p {
          max-width: 50ch;
        }
      }

      h1 {
        color: var(--accent);
        font-size: calc(var(--fs-xl) * 1.5);
        text-decoration: underline;
      }

      h2 {
        font-size: calc(var(--fs-lg) * 1.5);

        // line-height: 1.8;
        .wrappedText1 {
          // padding: 1rem 0;
          // background-image: url(/hero/text-decoration2.png);
          // background-repeat: no-repeat;
          // background-size: 160px 25px;
          // background-position: 10px 100%;
          color: var(--tertiary);
        }

        .wrappedText2 {
          // padding: 1rem 1rem;
          // background-image: url(/hero/text-decoration.png);
          // background-repeat: no-repeat;
          // background-size: 265px 50px;
          // background-position: 0 60%;
          color: var(--tertiary);
        }
      }

      .button {
        @include button;
      }
    }

    .heroImg {
      order: 0;
      margin-top: var(--page-padding);
      margin: 0 auto;
      width: 80%;
      height: auto;
      align-self: end;
      max-height: 400px;
      max-width: 400px;
      background-color: var(--dark);
      border-right: 4px dashed var(--tertiary);
      border-radius: 50%;

      @media (min-width: 767px) {
        order: 1;
        margin-top: unset;
        height: unset;
        width: unset;
        align-self: unset;
      }
    }
  }
}
