.form {
  @include form;

  .inputs {
    @include flex-column(var(--gap-md));
  }

  @media (min-width: 767px) {
    width: 100%;

    .inputs {
      flex-direction: row;
      column-gap: var(--gap-md);
    }
  }

  .forgotPassword {
    color: var(--white);
    font-weight: var(--fw-regular);
    font-size: var(--fs-sm);
    text-align: right;
    cursor: pointer;
    text-decoration: underline;

    transition: all 0.35s ease;
    &:active,
    &:focus,
    &:hover {
      color: var(--dark);
      font-weight: var(--fw-bold);
    }
  }

  mark.invalid {
    background: var(--error);
    color: var(--white);
    font-weight: var(--fw-regular);
    padding: calc(var(--elements-padding) / 2) var(--elements-padding);
    width: fit-content;
    border-radius: var(--border-radius);
    font-size: var(--fs-sm);
  }

  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;

    &::before,
    &::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid var(--lightGrey);
      margin: 0 2px; // Distanza tra la linea e il testo
    }

    span {
      background-color: var(--primary); // Colore di sfondo uguale al form
      padding: 0 10px; // Distanza tra il testo e la linea
      color: var(--white); // Colore del testo
    }
  }
}
