.main {
  @include main;

  .container {
    @include flex-column(var(--gap-sm));

    @media (min-width: 767px) {
      flex-direction: row;
      column-gap: var(--page-padding);
      justify-content: center;
    }

    .header {
      @include header;

      .hero {
        background: var(--secondary-gradient);
        border-radius: var(--border-radius);
        border: 3px solid var(--tertiary);
        overflow: hidden;
        display: flex;
        align-items: end;

        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      @media (min-width: 767px) {
        max-width: 50%;
      }
    }

    form {
      @include form;

      @media (min-width: 767px) {
        padding-top: 46px;
      }
    }
  }
}
