.main {
  @include main;

  @media (min-width: 767px) {
    @include flex-center;
    justify-content: center;
    align-items: stretch;
    // overflow: visible;
  }

  @media (min-width: 1025px) {
    // padding-top: 300px;
    height: 150dvh;
  }

  .container {
    @include flex-column(var(--gap-sm));
    justify-content: center;
    @media (min-width: 1024px) {
      align-items: center;
    }

    .header {
      @include header;
    }

    .interviewerForm {
      @include form;
      @include flex-column(var(--gap-md));
      flex-grow: 1;

      @media (min-width: 767px) {
        height: 100%;
        justify-content: space-between;
        align-items: center;
      }

      .avatarGrid {
        display: grid;
        grid-gap: var(--gap-md);
        grid-template-columns: repeat(2, 1fr);
        flex-grow: 1;
        justify-content: center;

        @media (min-width: 765px) {
          grid-template-columns: repeat(3, 1fr);
          grid-gap: var(--gap-md);
        }

        .label {
          @include base-element;
          @include effect-shadow;
          @media (min-width: 768px) {
            width: 220px;
          }
          @include flex-column(var(--gap-sm));
          justify-content: space-between;
          align-items: flex-start;
          cursor: pointer;
          transition: all 0.35s ease;
          color: var(--white);
          background: var(--accent);

          h3 {
            color: var(--tertiary);
          }

          p {
            font-weight: 300;
            padding-bottom: 9px;
          }

          & > div:first-child {
            @include flex-column(var(--gap-sm));

            .avatar {
              //   border-bottom: 1px solid var(--lightGrey);
              height: max-content;
              background-color: var(--accent);
              border-radius: 50%;
              border: 4px solid var(--tertiary);

              .avatarImg {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 50%;
              }
            }

            .avatarName,
            .avatarBio {
              width: 100%;
              font-size: var(--fs-md);
            }
          }

          &:active,
          &:focus,
          &:hover,
          &.selected {
            background-color: var(--fill);
            color: var(--white);
          }

          &.selected {
            border: 3px solid var(--tertiary);
          }

          .radio {
            display: none;
          }
        }
      }
    }
  }
}
